.accordion {
    width: 100%;
}

.accordion-item {
    border-bottom: 1px solid #ccc;
}

.accordion-header {
    background-color: #f4f4f4;
    padding: 10px;
    cursor: pointer;
}

.accordion-content {
    display: none;
    padding: 10px;
}